<head>
    <meta charset="UTF-8">
    <title>beginLayout</title>

</head>
<body>
    <div id="top-bar">
        <ul class="link-list">
            <li><a href="?l=home">home</a></li>
            <li><a href="?l=design">Design</a></li>
            <li><a href="?l=team">Team</a></li>
            <li><a href="?l=reference">Referenzen</a> </li>
            <li><a href="?l=impressum">Impressum</a></li>
        </ul>
    </div>
    <div id="wrapper">
        <f:render section="main"/>
    </div>
    <div id="footer">
        <p>&copy; Exinit 2017</p>
    </div>

</body>
</html>