Transferliste - Periode: Sommer

<f:if condition="{players}">
    <h3>Aktuelle Spielerwechsel</h3>
    <table>
        <f:for each="{players}" as="player">
            <tr>
                <td>{player.firstName} {player.lastName}</td>
                <td><f:format.number decimals="0" decimalSeparator="," thousandsSeparator=".">{player.transferFee}</f:format.number></td>
                <td><f:link.action action="show" arguments="{player: player}">Profil</f:link.action></td>
            </tr>
        </f:for>
    </table>
</f:if>

<f:if condition="{transfer}">
    <p>Der höchste Transfer der aktuellen Transferphase, ist der Spieler <f:link.action action="show" arguments="{player: transfer}">{transfer.lastName}</f:link.action>
        für <f:format.number decimals="0" decimalSeparator="," thousandsSeparator=".">{transfer.transferFee}</f:format.number> zum {transfer.club}.</p>
</f:if>