Transferliste - Periode: Sommer

<f:if condition="{players}">
    <h3>Aktuelle Spielerwechsel</h3>
    <table>
        <f:for each="{players}" as="player">
            <tr>
                <td>{player.firstName} {player.lastName}</td>
                <td>{player.transferFee}</td>
                <td><f:link.action action="show" arguments="{player: player.uid}">Profil</f:link.action></td>
            </tr>
        </f:for>
    </table>
</f:if>

<f:if condition="{transfer}">
    <p>Der höchste Transfer der aktuellen Transferphase, ist der Spieler {transfer.lastName} für {transfer.transferFee} zum {transfer.club}.</p>
</f:if>