<h3>Spielerprofil von <span style="color: #2aabd2">{player.firstName} {player.lastName}</span></h3>

<span>Spielerdaten</span>
<table>
    <tr>
        <td>Geburtsdatum:</td><td><f:format.date format="d.M.Y">{player.birthday}</f:format.date></td>
    </tr>
    <tr>
        <td>Alter:</td><td>{player.age}</td>
    </tr>
    <tr>
        <td>Nationalität:</td><td>{player.nationality}</td>
    </tr>
    <tr>
        <td>Größe:</td><td>{player.height}cm</td>
    </tr>
    <tr>
        <td>Position:</td><td>{player.position}</td>
    </tr>
    <tr>
        <td>Atueller Verein:</td><td>{player.club}</td>
    </tr>
    <tr>
        <td>Vertrag endet:</td><td><f:format.date format="d.M.Y">{player.contract}</f:format.date></td>
    </tr>
</table>

<style type="text/css" rel="stylesheet">
    table{
        margin: 10px;
    }
    table td{
        text-align: left;
    }
</style>