Bundesliga, 1. Spieltag

<f:if condition="{clubs}">
    <h3>Vereine und ihre Fans</h3>
    <ul>
        <f:for each="{clubs}" as="club">
            <f:if condition="{club.numberOfFans}>0">
                <li>{club.name}: <f:format.number decimals="0" thousandsSeparator=".">{club.numberOfFans}</f:format.number> <f:link.action action="show" arguments="{club: club}">Profil</f:link.action></li>
            </f:if>
        </f:for>
    </ul>
</f:if>

<f:if condition="{noobs}">
    <f:then>
        <h2>Vereine OHNE Fans</h2>
        <ul>
            <f:for each="{noobs}" as="noob">
                <f:if condition="{noob.name}">
                    <li>{noob.name} <f:link.action action="show" arguments="{club: noob}">Profil</f:link.action></li>
                </f:if>
            </f:for>
        </ul>
    </f:then>
    <f:else>
        <h3>Alle Vereine haben einen Fan gefunden</h3>
    </f:else>
</f:if>
