Bundesliga, 1. Spieltag

<f:if condition="{clubs}">
    <h3>Vereine und ihre Fans</h3>
    <ul>
        <f:for each="{clubs}" as="club">
            <f:if condition="{club.numberOfFans}>0">
                <li>{verein.name}</li>
            </f:if>
        </f:for>
    </ul>
</f:if>

<f:if condition="{noob}">
    <h2>Vereine OHNE Fans</h2>
    <f:then>
    <ul>
        <f:for each="{noobs}" as="noob">
            <f:if condition="{noob.name}">
                <li>{club.name}</li>
            </f:if>
        </f:for>
    </ul>
    </f:then>
    <f:else>
        <h3>Alle Vereine haben einen Fan gefunden</h3>
    </f:else>
</f:if>
