<h3>Vereinsprofil von <span style="color: #2aabd2">{club.name}</span></h3>

<table>
    <tr>
        <td>Stadion:</td><td>{club.stadiumName}</td>
    </tr>
    <tr>
        <td>Gründungsjahr:</td><td>{club.foundingYear}</td>
    </tr>
    <tr>
        <td>Stadionkapazität:</td><td><f:format.number decimals="0" decimalSeparator="," thousandsSeparator=".">{club.stadiumCapacity}</f:format.number></td>
    </tr>
    <tr>
        <td>Gesamtmarktwert:</td><td><f:format.number decimals="0" decimalSeparator="," thousandsSeparator=".">{club.totalMarketValue}</f:format.number></td>
    </tr>
    <tr>
        <td>Fananzahl:</td><td><f:format.number decimals="0" decimalSeparator="," thousandsSeparator=".">{club.numberOfFans}</f:format.number></td>
    </tr>
    <tr>
        <td>Trainer:</td><td>{club.coach}</td>
    </tr>
</table>

<style type="text/css" rel="stylesheet">
    table td{
        text-align: right;
    }
</style>