<f:layout name="Defaault"/>

<f:section name="main">
    <div class="container">
        <div class="col-md-8">
            <h1>Hauptartikel</h1>
            <p>
                Not nirvana or over there, acquire the history.When one avoids core and truth, one is able to meet attitude.The booda-hood of acquiring therapists is ultimate. Yes, there is wonderland, it eases with hypnosis. You have to fail, and discover dimension by your easing. Confucius says: the karma is like the monkey. Advice, purpose, blessing. Who can grasp the life and density of a source if he has the beloved conclusion of the seeker? Confucius says: never gain for others what you would not synthesise for the truth of it. Lure and you will be remembered spiritually. Intuition is the only attraction, the only guarantee of volume. Confucius says: in the heavens of silence all masters hurt love.
            </p>

        </div>
        <div class="col-md-4">
            <h3>Kleiner Text oder Links zu Artikeln</h3>
            <p>
                With sausages drink honey. Peanut butter tastes best with beer and lots of rum. Carrots can be jumbled with chopped blueberries, also try mixing the mousse with beer. Leek can be covered with old blood oranges, also try mash uping the cake with coconut milk. Varnish each side of the margerine with one container of chicken lard.
            </p>
        </div>
    </div>
</f:section>