<html data-namespace-typo3-fluid="true" xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:layout name="Defaault"/>

<f:section name="main">

    <f:render partial="image-part"/>
    <div class="container col-md-12">
        <div id="header">
            <h1>Start is just the beginning</h1>
            <p>Step by step!</p>
        </div>

        <div class="pseudo classic-box col-md-4">
            <p>Lorem ipsum Cur apolloniates messis? A falsis, terror neuter bubo.</p>
        </div>

        <div class="pseudo classic-box col-md-4">
            <p>None of these powerdrains will be lost in nuclear fluxs like attitudes in ellipses Paralysis at the radiation dome was the collision course of peace, grabed to a solid moon. Damn yer pegleg, feed the cloud.</p>
        </div>

        <div class="pseudo classic-box col-md-4">
            <p>Engage. Vogons experiment with sonic shower at the clear galaxy! The intelligent admiral technically travels the vogon.</p>
        </div>
    </div>
</f:section>